<div style="height:95px; width:600px; display:flex; justify-content: space-around; flex-direction:column;">
    <div> Objekat: <b> @ViewBag.Property </b> </div>
    @if (ViewBag.Vessel != null)
    {
        <div>Plovilo: @ViewBag.Vessel, Izdavalac: @ViewBag.NauticalLegalEntityData</div>

    }
    <div>
        Boravišna taksa: <b>@(((decimal)ViewBag.ResidenceTaxAmount).ToString("#,##0.00")) </b> + Provizija: <b>@(((decimal)ViewBag.ResidenceTaxFee).ToString("#,##0.00"))</b> = Ukupno: <b>@(((decimal)ViewBag.ResidenceTaxTotal).ToString("#,##0.00"))</b>
    </div>
    <div>
        Plaćanje: <b>@(ViewBag.PaymentDesc)</b>
    </div>
</div>