@using Oblak.Models.Api;
@using Oblak.Models.EFI;

@{
    ViewBag.Title = "Prijave gostiju";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
    var nautical = (bool)ViewBag.Nautical;
    var entrypoint = (bool)ViewBag.EntryPoint;
}

<script type="text/javascript">

    function new1Group() {
        $("#wndNewGroup").data("kendoWindow").center().open();
    }

    function newGroup() {
        $.ajax({
            url: `/edit-group?nautical=@nautical`,
            type: 'GET',
            success: function (data, status, xhr) {
                $('#wndGroup').data('kendoWindow').content(data).center().open();                
            }
        });
    }

    function editGroup() {

        var grid = $('#groupGrid').data('kendoGrid');
        var item = grid.dataItem(grid.select());

        if (item == null) {
            Swal.fire({ icon: 'error', title: 'Morate odabrati prijavu', confirmButtonText: `U redu` });
        }

        $.ajax({
            url: `/edit-group?nautical=@nautical&id=${item.Id}`,
            type: 'GET',
            success: function (data, status, xhr) {
                $('#wndGroup').data('kendoWindow').content(data).center().open();
            }
        });
    }



    function submitNewGroup() {

        var checkInDate = $("#checkInDate").data("kendoDatePicker").value();
        var checkOutDate = $("#checkOutDate").data("kendoDatePicker").value();
        var email = $("#email").val();

        // Create GroupDto object
        var groupDto = {
            CheckIn: checkInDate,
            CheckOut: checkOutDate,
            Email: email
        };

        // Call the controller method to save the new group
        saveNewGroup(groupDto);

    }


    function saveNewGroup(groupDto) {
        // Show loading indicator if needed
        // kendo.ui.progress($("#wndNewGroup"), true);

        // Get selected dates from datepicker inputs
        var checkInDate = $("#checkInDate").data("kendoDatePicker").value();
        var checkOutDate = $("#checkOutDate").data("kendoDatePicker").value();

        // Convert the dates to a format that can be safely sent to the server
        var formattedCheckInDate = kendo.toString(checkInDate, "yyyy-MM-ddTHH:mm:ss");
        var formattedCheckOutDate = kendo.toString(checkOutDate, "yyyy-MM-ddTHH:mm:ss");

        debugger;

        // Get selected Property and PropertyUnit values from dropdowns
        var propertyId = null;
        if ($("#PropertyId").length > 0) propertyId = $("#PropertyId").data("kendoMultiColumnComboBox").value();
        var vesselId = null;
        if ($("#VesselId").length > 0) vesselId = $("#VesselId").data("kendoMultiColumnComboBox").value();
        var nauticalLegalEntityId = null;
        if ($("#NauticalLegalEntityId").length > 0) nauticalLegalEntityId = $("#NauticalLegalEntityId").data("kendoMultiColumnComboBox").value();
        var resTaxPaymentTypeId = $("#ResTaxPaymentTypeId").data("kendoDropDownList").value();
        var entryPoint = null;
        if ($("#EntryPoint").length > 0) entryPoint = $("#EntryPoint").data("kendoDropDownList").value();
        var formattedEntryPointDate = null;
        if ($("#EntryPointDate").length > 0) {
            var entryPointDate = $("#EntryPointDate").data("kendoDatePicker").value();
            formattedEntryPointDate = kendo.toString(entryPointDate, "yyyy-MM-ddTHH:mm:ss");
        }

        if (propertyId == null || propertyId == "") {
            Swal.fire({ icon: 'error', title: 'Morate odabrati smještajni objekat', confirmButtonText: `U redu` });
            return;
        }

        // Add dates, PropertyId, and PropertyUnitId to the groupDto
        groupDto.CheckIn = formattedCheckInDate;
        groupDto.CheckOut = formattedCheckOutDate;
        groupDto.PropertyId = propertyId;     
        groupDto.VesselId = vesselId
        groupDto.NauticalLegalEntityId = nauticalLegalEntityId;
        groupDto.ResTaxPaymentTypeId = resTaxPaymentTypeId;
        groupDto.EntryPoint = entryPoint;
        groupDto.EntryPointDate = formattedEntryPointDate;

        $.ajax({
            url: '@Url.Action("Create", "Group")',
            type: 'POST',
            data: {
                groupDto: groupDto
            },
            success: function (data) {
                // Handle success if needed
                console.log(data);

                debugger;

                window.location = `/persons?groupid=${data}`;

                // Close the window or perform any other actions
                //$("#wndNewGroup").data("kendoWindow").close();

                // Refresh the grid after creating a new group (if needed)
                //$('#groupGrid').data('kendoGrid').dataSource.read();
            },
            error: function (error) {
                // Handle error if needed
                console.error(error);

                // Display an error message to the user, adjust as needed
                alert("Došlo je do greške.");
            },
            complete: function () {
                // Hide loading indicator if needed
                // kendo.ui.progress($("#wndNewGroup"), false);
            }
        });
    }

    function sendLink(e) {
        $.ajax({
            url: '@Url.Content("~/rbgrp/sendlink")',
            type: 'GET',
            success: function (data, status, xhr) {
                $('#wndSendLink').data('kendoWindow').content(data);
                $('#wndSendLink').data('kendoWindow').center();
                $('#wndSendLink').data('kendoWindow').open();
            }
        });
    }

    function deleteGroup(e) {
        var grid = $('#groupGrid').data('kendoGrid');
        var item = grid.dataItem(grid.select());

        if (item == null) {
            Swal.fire({ icon: 'error', title: 'Morate odabrati prijavu', confirmButtonText: `U redu` });
        } else {
            // Confirm the delete action
            Swal.fire({
                title: 'Da li ste sigurni?',
                text: 'Ova radnja je nepovratna!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Da, obriši!',
                cancelButtonText: 'Odustani'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Proceed with the delete action
                    $.ajax({
                        url: '@Url.Content("~/Group/DeleteGroup/")',
                        data: { groupId: item.Id },
                        type: 'GET',
                        success: function (data, status, xhr) {
                            if (data.error != "") {
                                Swal.fire({ icon: 'error', title: data.error, confirmButtonText: `U redu` });
                            }
                            if (data.info != "") {
                                // Refresh the grid after deleting the group
                                grid.dataSource.read();
                                Swal.fire({ icon: 'info', title: data.info, confirmButtonText: `U redu` });
                            }
                        },
                        error: function () {
                            Swal.fire({ icon: 'error', title: 'Došlo je do greške prilikom brisanja grupe.', confirmButtonText: `U redu` });
                        }
                    });
                }
            });
        }
    }


    function showGroup(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
        event.stopPropagation();

        var grid = $('#groupGrid').data('kendoGrid');
        var item = grid.dataItem(grid.select());

        if (item == null) {
            Swal.fire({ icon: 'error', title: 'Morate odabrati prijavu', confirmButtonText: `U redu` });
        } else {
            window.location = '/persons?groupId=' + item.Id;
        }
    }

    function propertyChanged(e) {
        var val = this.value();            
        if (val == 0) { 
            // Show vessels and legalentities
        }
    }

    function nauticalLeChanged(e) {

        var item = this.dataItem();

        if (item) {
            $.ajax({
                url: `/deferred?legalentity=${item.Id}`,                
                type: 'GET',
                success: function (data, status, xhr) {
                    if (data.allowed == false) {
                        var dropdownlist = $("#ResTaxPaymentTypeId").data("kendoDropDownList");                        
                        var dataSource = dropdownlist.dataSource;

                        var itemToRemove = dataSource.data().find(function (item) {
                            return item.Value === data.Id.toString();
                        });
                        
                        if (itemToRemove) {
                            dataSource.remove(itemToRemove);
                        }
                    }
                },
                error: function () {
                    Swal.fire({ icon: 'error', title: 'Došlo je do greške!', confirmButtonText: `U redu` });
                }
            });
        } else {
            console.log("No item selected.");
        }
    }


    function vesselChanged(e) {

        var item = this.dataItem();

        var nautical = $("#NauticalLegalEntityId").data("kendoMultiColumnComboBox")

        nautical.dataSource.data([{ id: item.LegalEntityId, text: item.LegalEntityName }]);

        nautical.value(item.LegalEntityId);
        nautical.text(item.LegalEntityName);
        $("#NauticalLegalEntityId").val(item.LegalEntityId);
    }


    function periodSelect(e) {
        var idx = e.indices;
        if (idx == undefined) idx = 0;
        var period = idx == 0 ? 'D' : idx == 1 ? 'W' : idx == 2 ? 'M' : idx == 3 ? 'Y' : 'C';

        var cod = '';
        var cdo = '';

        if (period == 'C') {
            $('#dtmOd').data('kendoDatePicker').enable(true);
            $('#dtmDo').data('kendoDatePicker').enable(true);
            var codval = $('#dtmOd').data('kendoDatePicker').value();
            if (codval != null) cod = kendo.toString(codval, 'dd.MM.yyyy');
            var cdoval = $('#dtmDo').data('kendoDatePicker').value();
            if (cdoval != null) cdo = kendo.toString(cdoval, 'dd.MM.yyyy');
        }
        else {
            $('#dtmOd').data('kendoDatePicker').enable(false);
            $('#dtmOd').data('kendoDatePicker').value(null);
            $('#dtmDo').data('kendoDatePicker').enable(false);
            $('#dtmDo').data('kendoDatePicker').value(null);
        }

        debugger;

        var grid = $('#groupGrid').data('kendoGrid');
        grid.dataSource.transport.options.read.url = `/Group/Read?nautical=@nautical&period=${period}&dtmod=${cod}&dtmdo=${cdo}`;
        grid.dataSource.read();
    }

    function readOptionSelect(e) {
    }


    function dtmChanged() {
        //$('#grpPeriod').data('kendoButtonGroup').trigger('select');
        periodSelect({ indices: 4 });
    }

    function propertyChanged(e) {

        var item = this.dataItem();

        debugger;

        if (item) {
            $.ajax({
                url: `/payments?property=${item.Id}`,
                type: 'GET',
                success: function (data, status, xhr) {
                    var dropdown = $("#ResTaxPaymentTypeId").data("kendoDropDownList");
                    dropdown.dataTextField = "Text";
                    dropdown.dataValueField = "Value";
                    dropdown.setDataSource(data.payments);
                    dropdown.refresh();                     
                    if(data.errInfo || data.debtInfo){
                        Swal.fire({
                            icon: 'warning',
                            title: 'Upozorenje!',
                            html: `${data.errInfo} <br> ${data.debtInfo}`,
                            confirmButtonText: `U redu`,
                            allowOutsideClick: false });
                    }
                },
                error: function () {
                    Swal.fire({ icon: 'error', title: 'Došlo je do greške!', confirmButtonText: `U redu` });
                }
            });
        } else {
            console.log("No item selected.");
        }
    }


</script>

<style type="text/css">

    #grpReadOption {
        display: flex;
        flex-direction: column;
    }

    #grpReadOption .k-button {
        width: 100%;
    }

    #grpReadOption .k-button:not(:last-child) {
        margin-bottom: 5px;
    }

    .k-input-loading-icon {
        padding: 0px !important;
    }

</style>

<div style="display:flex; margin-left:15px; margin-top:25px; margin-right:15px;">

    @(Html.Kendo().Button().Name("btnNewGroup")
        .HtmlAttributes(new { type = "button", onclick = "newGroup()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/user_group_new.png'/>
                <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>GRUPNA<br/>PRIJAVA<div>
                </div>"))

    @(Html.Kendo().Button().Name("btnEditGroup")
        .HtmlAttributes(new { type = "button", onclick = "editGroup()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
    <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/edit_color.png'/>
                <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>IZMIJENI<br/>PRIJAVU<div>
                </div>"))

    @(Html.Kendo().Button().Name("btnOpenGuest")
        .HtmlAttributes(new { type = "button", onclick = "showGroup(event)", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/view_glass.png'/>
                <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>PRIKAŽI<br/>PRIJAVU<div>
                </div>"))

    @(Html.Kendo().Button().Name("btnDeleteGuest")
        .HtmlAttributes(new { type = "button", onclick = "deleteGroup(event)", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/remove.png'/>
                <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>OBRIŠI<br/>PRIJAVU<div>
                </div>"))


        <div style="flex-basis:390px;position:relative;top:-2px; margin-left:35px;">
            Odaberite period:
            @(Html.Kendo().ButtonGroup().HtmlAttributes(new { style = "height:30px;" })
                .Name("grpPeriod")
                .Items(t =>
                {
                    t.Add().Text("Dan").Selected(true);
                    t.Add().Text("Nedelja");
                    t.Add().Text("Mjesec");
                    t.Add().Text("Godina");
                    t.Add().Text("Proizvoljni period");
                }).Events(e => e.Select("periodSelect"))
                )

            <div id="dtmPeriod" style="width:390px; vertical-align:top;">
                <div style="margin-bottom:10px; margin-top:3px; display:inline-block; width:175px;">
                    Od datuma:<br />
                    @Html.Kendo().DatePicker().Name("dtmOd").HtmlAttributes(new { style = "width:calc(100% - 0px);" }).Events(e => e.Change("dtmChanged")).Enable(false)
                </div>
                <div style="display:inline-block; margin-left:8px; width:175px;">
                    Do datuma:<br />
                    @Html.Kendo().DatePicker().Name("dtmDo").HtmlAttributes(new { style = "width:calc(100% - 0px);" }).Events(e => e.Change("dtmChanged")).Enable(false)
                </div>
            </div>
        </div>

@*         <div style="width:150px;position:relative;top:-2px; margin-left:15px; padding-bottom:5px;">
            Odaberite prijave:
            @(Html.Kendo().ButtonGroup().HtmlAttributes(new { id = "grpReadOption", style = "height:40px;" })
                .Name("grpReadOption")
                .Items(t =>
                {
                    t.Add().Text("Samo moje prijave").Selected(true);
                    t.Add().Text("Sve prijave");                    
                }).Events(e => e.Select("readOptionSelect"))
                )
        </div> *@

</div>

<div style="position:absolute; top:130px; bottom: 15px; left: 15px; right:15px;">
    @(
        Html.Kendo().Grid<GroupEnrichedDto>() // Use GroupDto here
            .Name("groupGrid")
            .Columns(columns =>
            {
                if(nautical)                
                {
                    columns.Group(g =>
                        g.Title("Plovilo").Columns(col =>
                        {
                            col.Bound(c => c.PropertyName).Title("Smještajni objekat").Width(200);
                            col.Bound(c => c.VesselDesc).Title("Plovilo").Width(250);
                            col.Bound(c => c.NauticalLegalEntity).Title("Izdavaoc").Width(200);
                        }));

                    columns.Group(g => 
                        g.Title("Boravak").Columns(col =>
                        {
                            col.Bound(c => c.Date).Title("Datum").Format("{0:dd.MM.yyyy}").Width(150).HtmlAttributes(new { style = "text-align:center;" });
                            col.Bound(c => c.CheckIn).Title("Dolazak").Format("{0:dd.MM.yyyy}").Width(150).HtmlAttributes(new { style = "text-align:center;" }); ;
                            col.Bound(c => c.CheckOut).Title("Odlazak").Format("{0:dd.MM.yyyy}").Width(150).HtmlAttributes(new { style = "text-align:center;" });
                            col.Bound(c => c.Date).Title("Vrijeme").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).Format("{0:dd.MM.yyyy HH:mm}").Width(130).HtmlAttributes(new { style = "text-align:center;" });
                        }));

                    columns.Group(g => 
                        g.Title("Boravišna taksa").Columns(col =>
                        {                            
                            col.Bound(c => c.ResTaxAmount).Title("Taksa").Width(150).Format("{0:n2}").HtmlAttributes(new { style = "text-align:right;" });
                            col.Bound(c => c.ResTaxFee).Title("Provizija").Width(150).Format("{0:n2}").HtmlAttributes(new { style = "text-align:right;" });                            
                        }));
                }
                else
                {
                    columns.Group(g => 
                        g.Title("Boravak").Columns(col =>
                        {
                            col.Bound(c => c.Date).Title("Datum").Format("{0:dd.MM.yyyy}").Width(100).HtmlAttributes(new { style = "text-align:center;" });
                            col.Bound(c => c.PropertyName).Title("Smještajni objekat").Width(200);
                            col.Bound(c => c.LegalEntity).Title("Izdavalac").Width(200);
                            col.Bound(c => c.CheckIn).Title("Dolazak").Format("{0:dd.MM.yyyy}").Width(100).HtmlAttributes(new { style = "text-align:center;" }); ;
                            col.Bound(c => c.CheckOut).Title("Odlazak").Format("{0:dd.MM.yyyy}").Width(100).HtmlAttributes(new { style = "text-align:center;" }); ;                            
                            col.Bound(c => c.Guests).Title("Gosti").Width(500);
                            col.Bound(c => c.Date).Title("Vrijeme").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).Format("{0:dd.MM.yyyy HH:mm}").Width(130).HtmlAttributes(new { style = "text-align:center;" });
                        }));

                    columns.Group(g => 
                        g.Title("Boravišna taksa").Columns(col =>
                        {
                            col.Bound(c => c.ResTaxPaymentTypeName).Title("Plaćanje").Width(170);
                            col.Bound(c => c.ResTaxAmount).Title("Taksa").Width(85).Format("{0:n2}").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("<div style='text-align:right'>#=kendo.toString(sum, '0.00')#<div>");;
                            col.Bound(c => c.ResTaxFee).Title("Proviz").Width(85).Format("{0:n2}").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("<div style='text-align:right'>#=kendo.toString(sum, '0.00')#<div>");;
                            col.Bound(c => c.UserCreated).Title("Operater").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).Width(140).HtmlAttributes(new { style = "text-align:center;" });
                            col.Bound(c => c.CheckInPointName).Title("Punkt").Width(120).Format("{0:n2}");                            
                        }));
                }

                //col.Bound(c => c.PropertyName).Title("Smještajni objekat").Width(200);
                
            })
            .Pageable(p => p.Refresh(true))
            .Sortable()
            .Selectable()
            .Scrollable()
            .Filterable()
            .HtmlAttributes(new { style = "height:100%;" })
            .DataSource(ds => ds
            .Ajax()
            .Aggregates(a => { 
                a.Add(b => b.ResTaxAmount).Sum(); 
                a.Add(b => b.ResTaxFee).Sum(); 
            })
            .PageSize(20)
            .Model(m =>
            {
                m.Id(g => g.Id);
                m.Field(g => g.Id);
                m.Field(g => g.Date);
                m.Field(g => g.PropertyName);
                m.Field(g => g.CheckIn);
                m.Field(g => g.CheckOut);
                m.Field(g => g.Email);
                m.Field(g => g.Guests);
                m.Field(g => g.ResTaxAmount);
            })
            .Read(read => read.Action("Read", "Group", new { nautical = ViewBag.Nautical }))
        )
    )
</div>

@Html.Kendo().Window().Name("wndSendLink").Title("Slanje linka").Visible(false).Modal(true).Draggable(false).Width(400).Height(450).HtmlAttributes(new { style = "padding:40px;" })

@Html.Kendo().Window().Name("wndGroup").Title("Podaci o grupi").Visible(false).Modal(true).Draggable(false).Width(500).Height(580 + (nautical ? 125 : 0) + (entrypoint ? 125 : 0)).HtmlAttributes(new { style = "padding:40px;" })