@using Oblak.Models.Api

@{
    var dto = (MnePersonEnrichedDto)ViewBag.Dto;
    var group = (int)ViewBag.Group == 0;
}

<script type="text/javascript">

    function guestTypeChanged() {
        alert();
    }

    var isto = '@(ViewBag.TO == true)';
    var isdisable = '@(ViewBag.Disable == true)';
    var isgroup = '@((int)ViewBag.Group == 0)'

</script>

<style>

    div.one {
        display: inline-block;
        padding: 0px 5px;
        margin-bottom: 10px;
        min-width: 0;
        flex: 0 1 16%;
    }

    div.wrapper {
        display: flex;
        margin-bottom: 10px;
    }

    div.side-image {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100px;
        border: 1px solid #ddd;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
    }

    img.image{
        width: 64px;
        height: 64px;
    }
    
    fieldset.fieldset{
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: end;
        flex-basis: calc(100% - 140px);
    }

</style>


<div style="position:absolute; left:10px; right:10px; top:10px; height:calc(100% - 150px); overflow:auto;">

    <form id="mnePersonForm">

        @Html.Hidden("Id", dto.Id)
        @Html.Hidden("GroupId", ((int)ViewBag.Group == 0 ? "" : ((int)ViewBag.Group).ToString()))

        <div class="wrapper">
            <div class="side-image">
                <img class='image' src='/Content/Icons/hotel.png'></img>
            </div>
            <fieldset class="fieldset">
                <div class="one" style="flex:0 1 calc(48% + 20px)">
                    <label for="firstname">Izaberite objekat<span style="color: red;">*</span></label>
                    @(Html.Kendo().MultiColumnComboBox()
                        .Name("PropertyId")
                        .Placeholder("Izaberite objekat")
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Enable(true)
                        .Columns(columns =>
                        {
                            columns.Add().Field("Name").Title("Naziv").Width("200px");
                            columns.Add().Field("Address").Title("Adresa").Width("250px");
                            columns.Add().Field("LegalEntity").Title("Vlasnik").Width("200px");
                        })
                        .HtmlAttributes(new { id = "PropertyId", style = "width:100%;", autocomplete = "off", autocorrect = "off", autocapitalize = "off", spellcheck = "false" })
                        .DropDownWidth("400px")
                        .Messages(m => m.NoData("Nema podataka").Clear("Poništi"))
                        .Filter("contains").FilterFields(new string[] { "Name" })
                        .AutoBind(false)
                        .MinLength(1)
                        .ValuePrimitive(true)
                        .Value(dto.PropertyId.ToString())
                        .Text(dto.PropertyName)
                        .DataSource(source => { source.Read(read => { read.Action("ReadAdmin", "Property"); }).ServerFiltering(true); })
                        )
                </div>
                <div class="one" style="flex:0 1 calc(32% + 10px)">
                    <label for="isdomestic">Vrsta gosta<span style="color: red;">*</span></label>
                    @(Html.Kendo().DropDownList()
                        .Name("PersonType")
                        .DataTextField("Name")
                        .DataValueField("ExternalId")
                        .OptionLabel("Izaberite vrstu gosta")
                        .BindTo(Model.PersonTypeCodeList)
                        .Value(dto.PersonType)
                        .AutoWidth(true)
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
            </fieldset>
        </div>

        <div class="wrapper">
            <div class="side-image">
                <img class='image' src='/Content/Icons/tourist.png'></img>
            </div>
            <fieldset class="fieldset">
                <div class="one">
                    <label for="firstname">Ime <span style="color: red;">*</span></label>
                    @(Html.Kendo().TextBox().Value(dto.FirstName)
                        .Name("FirstName")
                        .HtmlAttributes(new { style = "width:100%; font-family: 'Noto Sans Display', sans serif;" })
                        )
                </div>
                <div class="one">
                    <label for="lastname">Prezime <span style="color: red;">*</span></label>
                    @(Html.Kendo().TextBox().Value(dto.LastName)
                        .Name("LastName")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one" style="">
                    <label for="birthdate">Datum rođenja</label>
                    @(Html.Kendo().DatePicker().Value(dto.BirthDate)
                        .Name("BirthDate")
                        .Format("dd.MM.yyyy")
                        .Max(DateTime.Now.Date)
                        .Min(DateTime.Now.Date.AddYears(-100))
                        .Events(e => e.Change("resTaxCalc"))
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one" style="">
                    <label for="gender">Pol <span style="color: red;">*</span></label>
                    @(Html.Kendo().DropDownList()
                        .Name("gender")
                        .DataTextField("Name")
                        .DataValueField("ExternalId")
                        .OptionLabel("Izaberite pol")
                        .BindTo(Model.GenderCodeList)
                        .Value(dto.Gender)
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one" style="">
                    <label for="personalnumber">JMBG <span style="color: red;">*</span></label>
                    @(Html.Kendo().TextBox().Value(dto.PersonalNumber)
                        .Name("personalnumber")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one" style="">
                    <label for="birthCountry">Država rođenja <span style="color: red;">*</span></label>
                    @(Html.Kendo().DropDownList().Value(dto.Nationality)
                        .Name("Nationality")
                        .Height(300)
                        .DataTextField("Name")
                        .DataValueField("ExternalId")
                        .OptionLabel("Izaberite nacionalnost")
                        .AutoWidth(true)
                        .BindTo(Model.CountryCodeList)
                        .Filter("contains")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one" style="">
                    <label for="residenceCountry">Država prebivališta <span style="color: red;">*</span></label>
                    @(Html.Kendo().DropDownList().Value(dto.BirthCountry)
                        .Name("BirthCountry")
                        .Height(300)
                        .DataTextField("Name")
                        .DataValueField("ExternalId")
                        .OptionLabel("Izaberite državu rođenja")
                        .AutoWidth(true)
                        .BindTo(Model.CountryCodeList)
                        .Filter("contains")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one" style="">
                    <label for="residencePlace">Mjesto rođenja </label>
                    @(Html.Kendo().TextBox().Value(dto.BirthPlace)
                        .Name("BirthPlace")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one" style="">
                    <label for="residenceMunicipality">Država prebivališta</label>
                    @(Html.Kendo().DropDownList().Value(dto.PermanentResidenceCountry)
                        .Name("PermanentResidenceCountry")
                        .AutoWidth(true)
                        .Height(300)
                        .DataTextField("Name")
                        .DataValueField("ExternalId")
                        .OptionLabel("Izaberite državu prebivališta")
                        .AutoWidth(true)
                        .BindTo(Model.CountryCodeList)
                        .Filter("contains")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one" style="">
                    <label for="residencePlace">Mjesto prebivališta </label>
                    @(Html.Kendo().TextBox().Value(dto.PermanentResidencePlace)
                        .Name("PermanentResidencePlace")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one" style="">
                    <label for="birthPlace">Adresa prebivališta</label>
                    @(Html.Kendo().TextBox().Value(dto.PermanentResidenceAddress)
                        .Name("PermanentResidenceAddress")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
            </fieldset>
        </div>

        <div class="wrapper">
            <div class="side-image">
                <img class='image' src='/Content/Icons/passport.png'></img>
            </div>
            <fieldset class="fieldset">
                <div class="one">
                    <label for="DocumentType">Vrsta putne isprave<span style="color: red;">*</span></label>
                    @(Html.Kendo().DropDownList().Value(dto.DocumentType)
                        .Name("DocumentType")
                        .AutoWidth(true)
                        .Height(300)
                        .DataTextField("Name")
                        .DataValueField("ExternalId")
                        .OptionLabel("Izaberite vrstu putne isprave")
                        .BindTo(Model.DocumentTypeCodeList)
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one">
                    <label for="DocumentNumber">Broj putne isprave <span style="color: red;">*</span></label>
                    @(Html.Kendo().TextBox().Value(dto.DocumentNumber)
                        .Name("DocumentNumber")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one">
                    <label for="DocumentValidTo">Rok važenja<span style="color: red;">*</span></label>
                    @(Html.Kendo().DatePicker().Value(dto.DocumentValidTo)
                        .Name("DocumentValidTo")
                        .Format("dd.MM.yyyy")
                        .Min(DateTime.Now.Date)                        
                        .HtmlAttributes(new { style = "width:100%; font-family: 'Noto Sans Mono', monospace;" })
                        )
                </div>
                <div class="one">
                    <label for="DocumentCountry">Država izdavanja<span style="color: red;">*</span></label>
                    @(Html.Kendo().DropDownList().Value(dto.DocumentCountry)
                        .Name("DocumentCountry")
                        .AutoWidth(true)
                        .Height(300)
                        .DataTextField("Name")
                        .DataValueField("ExternalId")
                        .OptionLabel("Izaberite državu izdavanja")
                        .BindTo(Model.CountryCodeList)
                        .Filter("contains")
                        .HtmlAttributes(new { style = "width:100%;" })
                        )
                </div>
                <div class="one">
                    <label for="DocumentIssuer">Izdavaoc dokumenta<span style="color: red;">*</span></label>
                    @(Html.Kendo().TextBox().Value(dto.DocumentIssuer)
                        .Name("DocumentIssuer")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
            </fieldset>
        </div>

        <div class="wrapper">
            <div class="side-image">
                <img class='image' src='/Content/Icons/calendar.png'></img>
            </div>
            <fieldset class="fieldset">
                <div class="one">
                    <label for="CheckIn">Datum prijave<span style="color: red;">*</span></label>
                    @(Html.Kendo().DatePicker().Value(dto.CheckIn.Date)
                        .Name("CheckIn")
                        .Format("dd.MM.yyyy")
                        .Max(DateTime.Now.Date)
                        .Min(DateTime.Now.Date.AddMonths(-3))
                        .Events(e => e.Change("resTaxCalc"))
                        .HtmlAttributes(new { id = "CheckInDateTime", style = "width:100%" })
                        )
                </div>
                <div class="one">
                    <label for="CheckOut">Datum odjave<span style="color: red;">*</span></label>
                    @(Html.Kendo().DatePicker().Value(dto.CheckOut)
                        .Name("CheckOut")
                        .Format("dd.MM.yyyy")
                        .Min(DateTime.Now.Date)
                        .Max(DateTime.Now.Date.AddMonths(12))
                        .Events(e => e.Change("resTaxCalc"))
                        .HtmlAttributes(new { id = "CheckOut", style = "width:100%" })
                        )
                </div>
                <div class="one">
                    <label for="EntryPoint">Mjesto ulascka u CG boravka<span style="color: red;">*</span></label>
                    @(Html.Kendo().DropDownList().Value(dto.EntryPoint)
                        .Name("EntryPoint")
                        .DataTextField("Name")
                        .DataValueField("ExternalId")
                        .OptionLabel("Izaberite mjesto ulaska")
                        .BindTo(Model.EntryPointCodeList)
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
                <div class="one">
                    <label for="EntryPointDate">Datum ulaska u CG<span style="color: red;">*</span></label>
                    @(Html.Kendo().DatePicker().Value(dto.EntryPointDate)
                        .Name("EntryPointDate")
                        .Format("dd.MM.yyyy")
                        .HtmlAttributes(new { style = "width:100%" })
                        )
                </div>
            </fieldset>
        </div>


        @if ((bool)ViewBag.TO == true)
        {
            <div class="wrapper">
                <div class="side-image">
                    <img class='image' src='/Content/Icons/insert-euro.png'></img>
                </div>
                <fieldset class="fieldset">
                    <div class="one">
                        <label for="ResTaxType">Vrsta oslobođenja<span style="color: red;">*</span></label>
                        @(
                            Html.Kendo().DropDownList().Value(dto.ResTaxTypeId.ToString())
                                .Name("ResTaxTypeId")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Izaberite vrstu boravišne takse")
                                .AutoWidth(true)
                                .Events(e => e.Change("resTaxCalc"))
                                .BindTo(new SelectList(Model.ResTaxTypes as Dictionary<string, string>, "Key", "Value"))
                                .Value((dto.ResTaxTypeId ?? 0).ToString())
                                .HtmlAttributes(new { style = "width:100%" })
                                )
                    </div>
                    <div class="one">
                        <label for="ResTaxPaymentTypeId">Plaćanje boravišne takse<span style="color: red;">*</span></label>
                        @(
                            Html.Kendo().DropDownList().Value(dto.ResTaxPaymentTypeId.ToString())
                                .Name("ResTaxPaymentTypeId")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Izaberite način plaćanja")
                                .AutoWidth(true)
                                .Events(e => e.Change("resTaxCalc"))
                                .BindTo(new SelectList(Model.ResTaxPaymentTypes as Dictionary<string, string>, "Key", "Value"))
                                .HtmlAttributes(new { style = "width:100%" })
                                )
                    </div>
                    <div class="one">
                        <label for="ResTaxAmount">Iznos boravišne takse<span style="color: red;">*</span></label>
                        @(
                            Html.Kendo().NumericTextBox().Value((double)(dto.ResTaxAmount ?? 0m))
                                .Name("ResTaxAmount")
                                .Min(0)
                                .Enable(false)
                                .HtmlAttributes(new { style = "width:100%; font-family: 'Noto Sans Mono', monospace;" })
                                )
                    </div>
                    <div class="one">
                        <label for="ResTaxFee">Iznos provizije<span style="color: red;">*</span></label>
                        @(
                            Html.Kendo().NumericTextBox().Value((double)(dto.ResTaxFee ?? 0m))
                                .Name("ResTaxFee")
                                .Min(0)
                                .Enable(false)
                                .HtmlAttributes(new { style = "width:100%; font-family: 'Noto Sans Mono', monospace;" })
                                )
                    </div>
                </fieldset>
            </div>
        }
    </form>
</div>


<div style="display:flex; position:absolute; left:20px; right:20px; bottom:20px; height:100px; background-colorr:antiquewhite;">
    @(Html.Kendo().Button().Name("btnSaveDoc")
        .HtmlAttributes(new { type = "button", onclick = "saveGuest()", style = "height:95px; width:95px; cursor:pointer;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/save_color.png'/>                    
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>SAČUVAJ<br/>IZMJENE<div>
                </div>"))

    @(Html.Kendo().Button().Name("btnCopyLast")
        .HtmlAttributes(new { type = "button", onclick = "copyLast()", style = "height:95px; width:95px; cursor:pointer; margin-left:10px;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/copy2.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>KOPIRAJ<br/>PRIJAVU<div>
                </div>"))

    <div style="flex-grow:1"></div>
    @if(dto.GroupId == null)
    {
        @(Html.Kendo().Button().Name("btnRegisterGuestW")
            .HtmlAttributes(new { type = "button", onclick = "registerGuest()", style = "height:95px; width:95px; margin-right:10px;" })
            .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center; flex-grow:0; flex-shrink:0; cursor:pointer;'>
                        <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/police.png'/>
                        <div style='font-weight:bold;display:block;position:relative;top:6px;line-height:110%;font-size:90%'>PRIJAVI<br/>GOSTA<div>
                    </div>"))
    }

    @(Html.Kendo().Button().Name("btnVirmanW")
        .HtmlAttributes(new { type = "button", onclick = $"virman()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center; flex-grow:0; flex-shrink:0;'>
            <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/receipt.png'/>
            <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>ŠTAMPA<br/>UPLATNICE<div>
            </div>"))

    @(Html.Kendo().Button().Name("btnVirmanW2")
        .HtmlAttributes(new { type = "button", onclick = $"virmanfoo()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center; flex-grow:0; flex-shrink:0;'>
            <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/print_invoice_color.png'/>
            <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>ŠTAMPA<br/>UPLATNICE<div>
            </div>"))

    @(Html.Kendo().Button().Name("btnCertW2")
        .HtmlAttributes(new { type = "button", onclick = $"sendCert()", style = "height:95px; width:95px; cursor:pointer;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center; flex-grow:0; flex-shrink:0;'>
                    <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/licence_color.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>POTVRDE<br/>O PRIJAVI<div>
                </div>"))
</div>