@model Oblak.Models.Api.FiscalDto;


<script type="text/javascript">
	function setCred(e) {
		//e.preventDefault();
		$.ajax({
			url: '/srb-cred',
			type: 'POST',
			data: $('#frmSrbCred').serialize(),
			success: function (data) {
				$('#wndSrbCred').data('kendoWindow').close();
			},
			error: function () {

			}
		});
	}
</script>



<form id="frmFiscal">
	<div>
		<input type="hidden" id="FiscalEnuId" name="Id" value="@Model.Id" />
		<input type="hidden" id="BusinessUnitId" name="PropertyId" value="@Model.PropertyId" />

		<div style="margin-bottom:20px; margin-top:10px; margin-bottom:30px;">
			<label for="username">Šifra prodajnog mjesta</label>
			@Html.Kendo().TextBox().Name("BusinessUnitCode").HtmlAttributes(new { name = "BusinessUnitCode", style = "width:100%" }).Value(Model.BusinessUnitCode)
		</div>

		<div style="margin-bottom:30px;">
			<label for="password">Šifra ENU-a</label>
			@Html.Kendo().TextBox().Name("FiscalEnuCode").HtmlAttributes(new { name = "FiscalEnuCode", style = "width:100%" }).Value(Model.FiscalEnuCode)
		</div>

		<div style="margin-bottom:30px;">
			<label for="password">Šifra operatora</label>
			@Html.Kendo().TextBox().Name("OperatorCode").HtmlAttributes(new { name = "OperatorCode", style = "width:100%" }).Value(Model.OperatorCode)
		</div>

		<div style="margin-bottom:60px;">
			<label for="password">Automatski depozit</label>
			@Html.Kendo().NumericTextBox().Name("AutoDeposit").HtmlAttributes(new { name = "AutoDeposit", style = "width:100%" }).Value(Model.AutoDeposit)
		</div>

		<div style="display: flex; flex-direction: column; align-items: center;">
			    @(Html.Kendo().Button().Name("btnSaveFiscal")
					.HtmlAttributes(new { type = "button", onclick = "setFiscal()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
					.Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
								<img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/cash_register.png'/>
								<div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>SAČUVAJ<br/>IZMJENE<div>
							</div>"))
@* 			
			@(Html.Kendo().Button().Name("btnSetCred")
				.Content("<div style='display:flex;align-items:center; justify-content:space-between;'><img style='width:35px;height:35px;text-align:center; position:relative; top:0px;' src='/Content/Icons/cash_register.png'></img><div style='padding-left:10px; padding-right:10px; font-size:smaller; font-weight:bold;'>Podesi fiskalne podatke</div></div>")
				.HtmlAttributes(new { onclick = "setFiscal()", type = "button", style = "width:200px; height:50px;" })
				) *@
		</div>
		
	</div>
</form>

