@using Oblak.Models.Api;
@using Oblak.Models.EFI;

@{
    ViewBag.Title = "Izdavaoci";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
    var property_admin = User.IsInRole("PropertyAdmin");
    var legalEntityTypes = new SelectList(new List<SelectListItem> { new SelectListItem { Text = "Person", Value = "Fizičko lice" }, new SelectListItem { Text = "Company", Value = "Pravno lice" } }, "Text", "Value");
    var ladmins = (ViewBag.Admins as List<LegalEntity>).Select(a => new SelectListItem { Text = a.Id.ToString(), Value = a.Name }).ToList();
    ladmins.Insert(0, new SelectListItem() { Text = "", Value = "" });
    var admins = new SelectList(ladmins, "Text", "Value");
    var partnerId = ViewBag.PartnerId;
}

<script type="text/javascript">

    var le = -1;

    $(document).ready(function () {

    });

    function saveNewGroup(groupDto) {
    var checkInDate = $("#checkInDate").data("kendoDatePicker").value();
    var checkOutDate = $("#checkOutDate").data("kendoDatePicker").value();

    var formattedCheckInDate = kendo.toString(checkInDate, "yyyy-MM-ddTHH:mm:ss");
    var formattedCheckOutDate = kendo.toString(checkOutDate, "yyyy-MM-ddTHH:mm:ss");

    var propertyId = $("#propertyDropdown").data("kendoDropDownList").value();
    var propertyUnitId = $("#propertyUnitDropdown").data("kendoDropDownList").value();

    groupDto.CheckIn = formattedCheckInDate;
    groupDto.CheckOut = formattedCheckOutDate;
    groupDto.PropertyId = propertyId;
    groupDto.UnitId = propertyUnitId;

    $.ajax({
    url: '@Url.Action("Create", "Group")',
    type: 'POST',
    data: {
    groupDto: groupDto
    },
    success: function (data) {
    console.log(data);
    $("#wndNewGroup").data("kendoWindow").close();
    $('#groupGrid').data('kendoGrid').dataSource.read();
    },
    error: function (error) {
    console.error(error);
    alert("Došlo je do greške.");
    },
    complete: function () {
    }
    });
    }

    function deleteGroup(e) {
    var grid = $('#groupGrid').data('kendoGrid');
    var item = grid.dataItem(grid.select());

    if (item == null) {
    Swal.fire({ icon: 'error', title: 'Morate odabrati prijavu', confirmButtonText: `U redu` });
    } else {
    Swal.fire({
    title: 'Da li ste sigurni?',
    text: 'Ova radnja je nepovratna!',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Da, obriši!',
    cancelButtonText: 'Odustani'
    }).then((result) => {
    if (result.isConfirmed) {
    $.ajax({
    url: '@Url.Content("~/Group/DeleteGroup/")',
    data: { groupId: item.Id },
    type: 'GET',
    success: function (data, status, xhr) {
    if (data.error != "") {
    Swal.fire({ icon: 'error', title: data.error, confirmButtonText: `U redu` });
    }
    if (data.info != "") {
    grid.dataSource.read();
    Swal.fire({ icon: 'info', title: data.info, confirmButtonText: `U redu` });
    }
    },
    error: function () {
    Swal.fire({ icon: 'error', title: 'Došlo je do greške prilikom brisanja grupe.', confirmButtonText: `U redu` });
    }
    });
    }
    });
    }
    }

    function srbCred() 
    {
    var grid = $('#legalEntitiesGrid').data('kendoGrid');
    var item = grid.dataItem(grid.select());

    if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati klijenta', confirmButtonText: `U redu` });

    le = item.Id;        

    $.ajax({
    url: `srb-cred?legalentity=${le}`,
    type: 'GET',            
    success: function (data) {
    console.log(data);
    $("#wndSrbCred").data("kendoWindow").content(data).center().open();
    },
    error: function (error) {
    console.error(error);
    alert("Došlo je do greške.");
    },
    complete: function () {
    }
    });
    }

    function mneCert() {
    var grid = $('#legalEntitiesGrid').data('kendoGrid');
    var item = grid.dataItem(grid.select());

    if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati klijenta', confirmButtonText: `U redu` });

    le = item.Id;

    $.ajax({
    url: `upload-cert?certType=rb90&legalentity=${le}`,
    type: 'GET',
    success: function (data) {
    console.log(data);
    $("#wndMneCert").data("kendoWindow").title('RB90 digitalni certifikat');
    $("#wndMneCert").data("kendoWindow").content(data).center().open();
    },
    error: function (error) {
    console.error(error);
    Swal.fire({ icon: 'error', title: 'Došlo je do greške', confirmButtonText: `U redu` });
    },
    complete: function () {
    }
    });
    }

    function mneEfiCert() {
    var grid = $('#legalEntitiesGrid').data('kendoGrid');
    var item = grid.dataItem(grid.select());

    if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati klijenta', confirmButtonText: `U redu` });

    le = item.Id;

    $.ajax({
    url: `upload-cert?certType=efi&legalentity=${le}`,
    type: 'GET',
    success: function (data) {
    console.log(data);
    $("#wndMneCert").data("kendoWindow").title('EFI digitalni certifikat');
    $("#wndMneCert").data("kendoWindow").content(data).center().open();
    },
    error: function (error) {
    console.error(error);
    Swal.fire({ icon: 'error', title: 'Došlo je do greške', confirmButtonText: `U redu` });
    },
    complete: function () {
    }
    });
    }

    function logo() {
    var grid = $('#legalEntitiesGrid').data('kendoGrid');
    var item = grid.dataItem(grid.select());

    if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati klijenta', confirmButtonText: `U redu` });

    le = item.Id;

    $.ajax({
    url: `upload-logo?legalentity=${le}`,
    type: 'GET',
    success: function (data) {                
    $("#wndLogo").data("kendoWindow").content(data).center().open();
    },
    error: function (error) {
    console.error(error);
    alert("Došlo je do greške.");
    },
    complete: function () {
    }
    });
    }

    function header() {
    var grid = $('#legalEntitiesGrid').data('kendoGrid');
    var item = grid.dataItem(grid.select());

    if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati klijenta', confirmButtonText: `U redu` });

    le = item.Id;

    $.ajax({
    url: `upload-header?legalentity=${le}`,
    type: 'GET',
    success: function (data) {
    $("#wndHeader").data("kendoWindow").content(data).center().open();
    },
    error: function (error) {
    console.error(error);
    alert("Došlo je do greške.");
    },
    complete: function () {
    }
    });
    }

    function setHeader() {

    $.ajax({
    url: `/upload-header`,
    type: 'POST',
    data: $('#headerForm').serialize(),
    success: function (data, status, xhr) {
    if (data.error != "") {
    Swal.fire({ icon: 'error', title: data.error, confirmButtonText: `U redu` });
    }
    else {
    Swal.fire({ icon: 'success', title: data.info, confirmButtonText: `U redu` });
    var wnd = $("#wndHeader").data("kendoWindow").close();
    }
    }
    });
    }

    function uploadSSL(e) {

    var form = $('#certForm')[0];
    var formData = new FormData(form);

    $.each($("input[type='file']")[0].files, function (i, file) {
    formData.append('certFile', file);
    });

    formData.append('certPassword', $('#certPassword').val());
    formData.append('certType', $('#certType').val());
    formData.append('legalEntity', $('#legalEntity').val());

    $.ajax({
    url: '/upload-cert',
    type: 'POST',
    data: formData,
    contentType: false,
    processData: false,
    success: function (data) {
    reloadSSL('rb90');
    },
    error: function () {

    }
    });
    }


    function uploadLogo(e) {

    var form = $('#logoForm')[0];
    var formData = new FormData(form);

    $.each($("input[type='file']")[0].files, function (i, file) {
    formData.append('logo', file);
    });

    formData.append('legalEntity', $('#legalEntity').val());

    $.ajax({
    url: '/upload-logo',
    type: 'POST',
    data: formData,
    contentType: false,
    processData: false,
    success: function (data) {
    if (data.error != "") {
    Swal.fire({ icon: 'error', title: data.error, confirmButtonText: `U redu` });
    }
    if (data.info != "") {                    
    Swal.fire({ icon: 'info', title: data.info, confirmButtonText: `U redu` });
    reloadLogo();
    }
    },
    error: function () {

    }
    });
    }

    function changeLogo() { 
    reloadLogo("Y");
    }


    function deleteSSL(certType, legalEntity) {

    $.ajax({
    url: `/delete-cert?certType=${certType}&legalEntity=${legalEntity}`,
    type: 'POST', 
    data: { certType: certType, legalEntity: legalEntity },
    success: function (data) {
    if (data.error != "") 
    {
    Swal.fire({ icon: 'error', title: data.error, confirmButtonText: `U redu` });
    }
    if (data.info != "") 
    {
    //Swal.fire({ icon: 'info', title: data.info, confirmButtonText: `U redu` });
    reloadSSL('rb90');
    }
    },
    error: function () {

    }
    });
    }

    function reloadSSL(certType) 
    {
    $.ajax({
    url: `upload-cert?certType=${certType}&legalentity=${le}`,
    type: 'GET',
    success: function (data) {                
    $("#wndMneCert").data("kendoWindow").content(data).center().open();
    },
    error: function (error) {                
    Swal.fire({ icon: 'error', title: 'Došlo je do greške', confirmButtonText: `U redu` });
    },
    complete: function () {
    }
    });
    }

    function reloadLogo(show) {
    $.ajax({
    url: `upload-logo?legalentity=${le}&hide=${show}`,
    type: 'GET',
    success: function (data) {
    $("#wndLogo").data("kendoWindow").content(data).center().open();
    },
    error: function (error) {
    Swal.fire({ icon: 'error', title: 'Došlo je do greške', confirmButtonText: `U redu` });
    },
    complete: function () {
    }
    });
    }

    function properties() {

    var grid = $('#legalEntitiesGrid').data('kendoGrid');
    var item = grid.dataItem(grid.select());

    if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati izdavaoca', confirmButtonText: `U redu` });

    le = item.Id;

    $.ajax({
    url: `/properties?how=P&legalentity=${le}`,
    type: 'GET',
    success: function (data, status, xhr) {
    var wnd = $("#wndProperties").data("kendoWindow");
    wnd.content(data);
    wnd.setOptions({
    width: $(window).width() * 0.95,
    height: $(window).height() * 0.95
    });
    wnd.center().open();
    }
    });
    }

    function register() {

    $.ajax({
    url: `/register-client`,
    type: 'GET',
    success: function (data, status, xhr) {
    var wnd = $("#wndRegister").data("kendoWindow");
    wnd.content(data);
    // wnd.setOptions({
    //     width: $(window).width() * 0.80,
    //     height: $(window).height() * 0.80
    // });
    wnd.center().open();
    }
    });
    }

    function registerClient() {

    $.ajax({
    url: `/register-client`,
    type: 'POST',
    data: $('#clientForm').serialize(),
    success: function (data, status, xhr) {
    if (data.error != "") {
    Swal.fire({ icon: 'error', title: data.error, confirmButtonText: `U redu` });
    }
    else {
    $("#wndRegister").data("kendoWindow").close();
    $('#legalEntitiesGrid').data('kendoGrid').dataSource.read();
    }
    }
    });
    }

    function checkTIN(tin) {
    if (!tin) return;

    $.ajax({
    url: '/check-tin',
    type: 'POST',
    data: { tin: tin },
    success: function (exists) {
    if (exists) {
    Swal.fire({
    title: "Obavještenje",
    text: "JMBG koji ste unijeli već postoji u sistemu. Da li želite nastaviti?",
    icon: "info",
    showCancelButton: true,
    confirmButtonText: "Da, nastavi",
    cancelButtonText: "Ne"
    }).then((result) => {
    if (!result.isConfirmed) {
    $("#TIN").val("");
    }
    });
    }
    },
    error: function () {
    Swal.fire("Greška!", "Došlo je do greške prilikom provjere JMBG-a.", "error");
    }
    });
    }



    function account() {

        var grid = $('#legalEntitiesGrid').data('kendoGrid');
        var item = grid.dataItem(grid.select());

        if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati izdavaoca', confirmButtonText: `U redu` });

        le = item.Id;

        $.ajax({
            url: `/legal-entity-account?legalentity=${le}`,
            type: 'GET',
            success: function (data, status, xhr) {
                var wnd = $("#wndAccount").data("kendoWindow");
                wnd.content(data);
                wnd.center().open();
            }
        });
    }

    function roles() {

    var grid = $('#legalEntitiesGrid').data('kendoGrid');
    var item = grid.dataItem(grid.select());

    if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati izdavaoca', confirmButtonText: `U redu` });

    le = item.Id;

    $.ajax({
    url: `/roles-admin?legalentity=${le}`,
    type: 'GET',
    success: function (data, status, xhr) {
    if (xhr.getResponseHeader('content-type').indexOf("html") > 0) {
    var wnd = $("#wndRoles").data("kendoWindow");
    wnd.content(data);
    wnd.center().open();
    }
    else if (xhr.getResponseHeader('content-type').indexOf("json") > 0) {
    Swal.fire({ icon: 'error', title: data.error, confirmButtonText: `U redu` });
    }
    }
    });
    }

    function accountCreate() {

        var grid = $('#legalEntitiesGrid').data('kendoGrid');
        var item = grid.dataItem(grid.select());
        le = item.Id;

        $.ajax({
            url: `/legal-entity-account?legalentity=${le}`,
            type: 'POST',
            data: $('#accountForm').serialize(),
            success: function (data, status, xhr) {
                if (data.error != "") Swal.fire({ icon: 'error', title: data.error, confirmButtonText: `U redu` });
                else 
                {
                Swal.fire({ icon: 'success', title: data.info, confirmButtonText: `U redu` });
                var wnd = $("#wndAccount").data("kendoWindow").close();
                }
            }
        });
    }

    function resetPassword() {

         var grid = $('#legalEntitiesGrid').data('kendoGrid');
         var item = grid.dataItem(grid.select());
         var leId = item.Id;
         var newPassVal = $("#Password").val();

         $.ajax({
         url: `/legal-entity-reset-password?legalEntityId=${leId}`,
         type: 'POST',
         contentType: 'application/json',
         data: JSON.stringify({ NewPassword: newPassVal }),
         success: function(data) {

             if(data != null && data.success){
                 Swal.fire({
                     icon: 'success',
                     title: 'Uspješno!',
                     html: `${data.error}`,
                     confirmButtonText: 'U redu',
                     allowOutsideClick: false
                 }).then(function() {
                     $("#wndAccount").data("kendoWindow").close();
                 });
             }
             else {
                 Swal.fire({
                 icon: 'warning',
                 title: 'Upozorenje!',
                 html: `${data.error}`,
                 confirmButtonText: 'U redu',
                 allowOutsideClick: false
             });
             }
         },
         error: function(xhr) {
             var data = xhr.responseJSON;
             Swal.fire({
                     icon: 'warning',
                     title: 'Upozorenje!',
                     html: data.error || 'Greška prilikom reseta password-a!',
                     confirmButtonText: 'U redu',
                     allowOutsideClick: false
             });
         }
         });
     }

     function accountLockUnlock(cmd){ 
         var grid = $('#legalEntitiesGrid').data('kendoGrid');
         var item = grid.dataItem(grid.select());
         var leId = item.Id; 
          
     }
      

    function payments(taxType) {
    var grid = $('#legalEntitiesGrid').data('kendoGrid');
    var item = grid.dataItem(grid.select());

    if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati izdavaoca', confirmButtonText: `U redu` });

    le = item.Id;

    $.ajax({
    url: `legal-entity-payments?taxType=${taxType}&le=${le}`,
    type: 'GET',
    success: function (data) {
    console.log(data);                
    var wnd = $("#wndPayments").data("kendoWindow");
    wnd.title(`Unos uplata - ${item.Name}`)
    wnd.content(data);
    wnd.setOptions({
    width: $(window).width() * 0.80,
    height: $(window).height() * 0.80
    });
    wnd.center().open();
    },
    error: function (error) {
    console.error(error);
    Swal.fire({ icon: 'error', title: 'Došlo je do greške', confirmButtonText: `U redu` });
    },
    complete: function () {
    }
    });
    }

</script>

<style type="text/css">
</style>

<div style="display:flex; margin-left:15px; margin-top:25px; margin-right:15px;">

    @(Html.Kendo().Button().Name("btnNewClient")
                .HtmlAttributes(new { type = "button", onclick = "register()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
                .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/bed.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>NOVI<br/>IZDAVALAC<div>
                </div>"))

    @(Html.Kendo().Button().Name("btnProperties")
                .HtmlAttributes(new { type = "button", onclick = "properties()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
                .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/hotel.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>SMJEŠTAJNI<br/>OBJEKTI<div>
                </div>"))

    @(Html.Kendo().Button().Name("btnAccount")
                .HtmlAttributes(new { type = "button", onclick = "account()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
                .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:48px;height:48px;text-align:center;display:block;margin-left:auto;margin-right:auto;margin-top:2px;' src='/Content/Icons/access.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>KORISNIČKI<br/>NALOG<div>
                </div>"))

    @(Html.Kendo().Button().Name("btnRoles")
                .HtmlAttributes(new { type = "button", onclick = "roles()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
                .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:48px;height:48px;text-align:center;display:block;margin-left:auto;margin-right:auto;margin-top:2px;' src='/Content/Icons/user-account.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>KORISNIČKE<br/>ULOGE<div>
                </div>"))

    @(Html.Kendo().Button().Name("btnSrbCred")
                .HtmlAttributes(new { type = "button", onclick = "srbCred()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
                .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:48px;height:48px;text-align:center;display:block;margin-left:auto;margin-right:auto;margin-top:2px;' src='/Content/Icons/key-security.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>E-TURISTA<br/>KREDENCIJALI<div>
                </div>"))

    @(Html.Kendo().Button().Name("btnMneCert")
                .HtmlAttributes(new { type = "button", onclick = "mneCert()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
                .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:48px;height:48px;text-align:center;display:block;margin-left:auto;margin-right:auto;margin-top:2px;' src='/Content/Icons/licence_color.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>RB90<br/>CERTIFIKAT<div>
                </div>"))

    @if (User.IsInRole("Invoice") || User.IsInRole("Administrator"))
    {
        @(Html.Kendo().Button().Name("btnLogo")
                    .HtmlAttributes(new { type = "button", onclick = "logo()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
                    .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                        <img style='width:48px;height:48px;text-align:center;display:block;margin-left:auto;margin-right:auto;margin-top:2px;' src='/Content/Icons/logo.png'/>
                        <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>PODESI<br/>LOGO<div>
                    </div>"))

        @(Html.Kendo().Button().Name("btnHeader")
                    .HtmlAttributes(new { type = "button", onclick = "header()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
                    .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                        <img style='width:48px;height:48px;text-align:center;display:block;margin-left:auto;margin-right:auto;margin-top:2px;' src='/Content/Icons/receipt.png'/>
                        <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>ZAGLAVLJE<br/>RAČUNA<div>
                    </div>"))

        @(Html.Kendo().Button().Name("btnEfiCert")
                    .HtmlAttributes(new { type = "button", onclick = "mneEfiCert()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
                    .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                        <img style='width:48px;height:48px;text-align:center;display:block;margin-left:auto;margin-right:auto;margin-top:2px;' src='/Content/Icons/licence_color.png'/>
                        <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>EFI<br/>CERTIFIKAT<div>
                    </div>"))
    }    

    <div style="display: flex; margin-left:auto;">
        @(Html.Kendo().Button().Name("btnPayments")
                    .HtmlAttributes(new { type = "button", onclick = "payments('ResidenceTax')", style = "height:95px; width:95px; margin-left:10px; cursor:pointer;" })
                    .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/deposit.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>UNOS<br/>UPLATA<div>
            </div>"))

        @(Html.Kendo().Button().Name("btnSaldo")
                    .HtmlAttributes(new { type = "button", onclick = "balance('ResidenceTax')", style = "height:95px; width:95px; margin-left:10px;; cursor:pointer;" })
                    .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/ledger.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>SALDO<br/>OBAVEZA<div>
            </div>"))
    </div>



</div>

<div style="position:absolute; top:130px; bottom: 15px; left: 15px; right:15px;">
    @(Html.Kendo().Grid<LegalEntityViewModel>()
                .Name("legalEntitiesGrid")
                .Columns(columns =>
                {
                    columns.Command(command =>
                    {
                        command.Edit().Text(" ").CancelText(" ").UpdateText(" ");
                        command.Destroy().Text(" ");
                    }).Width("70px");

                    columns.Bound(g => g.Id).Title("Id").Width("80px");
                    columns.Bound(g => g.Name).Title("Naziv").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).Width("30%");
                    @*             columns.Bound(g => g.FirstName).Title("Ime").Width("15%");
            columns.Bound(g => g.LastName).Title("Prezime").Width("25%"); *@
                    columns.ForeignKey(g => g.Type, legalEntityTypes).Title("Vrsta").Width("100px");
                    if (property_admin && User.IsInRole("TouristOrg") == false) columns.ForeignKey(g => g.AdministratorId, admins).Title("Administrator").Width("250px").HtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(g => g.TIN).Title("Poreski broj").Width("120px").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:left;" }).HtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(g => g.PhoneNumber).Title("Broj telefona").Width("130px").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:left;" });
                    columns.Bound(g => g.Email).Title("Email").Width("200px").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(g => g.Address).Title("Adresa").Width("40%").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:left;" });
                    columns.Bound(g => g.Country).Title("Država").Width("150px").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" });
                    if (partnerId == 4) {
                        columns.Bound(g => g.IsSuspended).Title("Suspendovan?").Width("100px").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" }).ClientTemplate("#= IsSuspended ? '<div style=\"text-align:center;\"><span class=\"k-checkbox k-checkbox-disabled\"  ><input type=\"checkbox\" checked disabled=\"disabled\" /><label class=\"k-checkbox-label\" style=\"pointer-events: none;\"></label></span></div>' : '<div style=\"text-align:center;\"><span class=\"k-checkbox k-checkbox-disabled\"><input type=\"checkbox\" disabled=\"disabled\" /><label class=\"k-checkbox-label\" style=\"pointer-events: none;\"></label></span></div>' #");
                    }
                    columns.Bound(g => g.IsRegistered).Title("Registrovan?").Width("100px").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" }).ClientTemplate("#= IsRegistered ? '<div style=\"text-align:center;\"><span class=\"k-checkbox k-checkbox-disabled\"><input type=\"checkbox\" checked disabled=\"disabled\" /><label class=\"k-checkbox-label\" style=\"pointer-events: none;\"></label></span></div>' : '<div style=\"text-align:center;\"><span class=\"k-checkbox k-checkbox-disabled\"><input type=\"checkbox\" disabled=\"disabled\" /><label class=\"k-checkbox-label\" style=\"pointer-events: none;\"></label></span></div>' #");
                    //columns.Bound(g => g.InVat).Title("U PDV-u").Width("100px").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" }).ClientTemplate("#= InVat ? '<div style=\"text-align:center;\"><span class=\"k-checkbox k-checkbox-disabled\"><input type=\"checkbox\" checked disabled=\"disabled\" /><label class=\"k-checkbox-label\" style=\"pointer-events: none;\"></label></span></div>' : '<div style=\"text-align:center;\"><span class=\"k-checkbox k-checkbox-disabled\"><input type=\"checkbox\" disabled=\"disabled\" /><label class=\"k-checkbox-label\" style=\"pointer-events: none;\"></label></span></div>' #");
                    columns.Bound(g => g.UserCreated).Title("Korisnik").Width("130px").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:left;" });
                    columns.Bound(g => g.UserCreatedDate).Title("Vrijeme").Width("130px").Format("{0:dd.MM.yyyy HH:mm}").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:left;" });
                })
                .Pageable(p => p.Refresh(true))
                .Editable(e => e.Mode(GridEditMode.InLine))
                .Sortable()
                .Selectable()
                .Scrollable()
                .Filterable()
                .HtmlAttributes(new { style = "height:100%;" })
                .DataSource(ds => ds
                    .Ajax()
                    .PageSize(20)
                    .Model(m =>
                    {
                        m.Id(g => g.Id);
                        m.Field(g => g.Id).Editable(false);
                        m.Field(g => g.Type);
                        m.Field(g => g.Name);
                        m.Field(g => g.TIN);
                        m.Field(g => g.AdministratorId);
                        m.Field(g => g.Address);
                        m.Field(g => g.Country);
                        m.Field(g => g.InVat);
                        m.Field(g => g.IsSuspended);
                        m.Field(g => g.IsRegistered);
                    })
                .Read(a => a.Url("legal-entity-read"))
                .Create(a => a.Url("legal-entity-create"))
                .Update(a => a.Url("legal-entity-update"))
                .Destroy(a => a.Url("legal-entity-destroy"))
                )
        )
</div>


@(Html.Kendo().Window().Name("wndSrbCred")
    .Title("Eturista kredencijali")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(450)
    .Height(410)
    .HtmlAttributes(new { style = "padding:20px;" })
)

@(Html.Kendo().Window().Name("wndMneCert")
    .Title("digitalni sertifikat")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(400)
    .Height(500)
    .HtmlAttributes(new { style = "padding:20px;" })
)

@(Html.Kendo().Window().Name("wndProperties")
    .Title("Smještajni objekti")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(400)
    .Height(500)
    .HtmlAttributes(new { style = "padding:20px;" })
)

@(Html.Kendo().Window().Name("wndRegister")
    .Title("Kreiranje izdavaoca")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(1200)
    .Height(650)
    .HtmlAttributes(new { style = "padding:20px; font-size:14px;" })
)

@(Html.Kendo().Window().Name("wndAccount")
    .Title("Korisnički nalog")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(400)
    .Height(560)
    .HtmlAttributes(new { style = "padding:20px; padding-bottom:10px; font-size:14px;" })
)

@(Html.Kendo().Window().Name("wndRoles")
    .Title("Korisničke uloge")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(400)
    .Height(560)
    .HtmlAttributes(new { style = "padding:20px; padding-bottom:10px; font-size:14px;" })
)

@(Html.Kendo().Window().Name("wndLogo")
    .Title("Logo")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(400)
    .Height(560)
    .HtmlAttributes(new { style = "padding:20px; padding-bottom:10px; font-size:14px;" })
)

@(Html.Kendo().Window().Name("wndHeader")
    .Title("Zaglavlje računa")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(500)
    .Height(450)
    .HtmlAttributes(new { style = "padding:20px; padding-bottom:10px; font-size:14px;" })
)

@(Html.Kendo().Window().Name("wndPayments")
    .Title("Unos uplata")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(1200)
    .Height(600)
    .HtmlAttributes(new { style = "padding:20px; padding-bottom:10px; font-size:14px;" })
)

@(Html.Kendo().Window().Name("wndBalance")
    .Title("Saldo obaveza")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(400)
    .Height(200)
    .HtmlAttributes(new { style = "padding:20px; padding-bottom:10px; font-size:14px;" })
)

@(Html.Kendo().Window().Name("wndSendLink")
    .Title("Slanje linka")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(400)
    .Height(450)
    .HtmlAttributes(new { style = "padding:20px;" })
)