@{
    var propertyTypes = new SelectList(new List<SelectListItem> { new SelectListItem { Text = "K", Value = "Kuća" }, new SelectListItem { Text = "A", Value = "Apartman" } }, "Text", "Value");
    var legalEntityTypes = new SelectList(new List<SelectListItem> { new SelectListItem { Text = "Person", Value = "Fizičko lice" }, new SelectListItem { Text = "Company", Value = "Pravno lice" } }, "Text", "Value");
}

<script type="text/javascript">
    function filterMjesta() {
        return {
            opstina: $("#propertyMunicipality").val()
        };
    }

    function passThroughChanged() { 
        var pass = $('#IsPassThrough').data('kendoSwitch').check();
        
        if (pass == false) {
            var textbox = $('#PropertyExternalId').data('kendoTextBox');
            textbox.enable(true);
        }
        else {
            var textbox = $('#PropertyExternalId').data('kendoTextBox');
            textbox.value('');
            textbox.enable(false);

        }
    }

    $(document).ready(function () {
        passThroughChanged();
    });

</script>


<style>

    div.one {
        display: inline-block;
        padding: 10px;
        min-width: 0;
    }

    .k-input-loading-icon
    {
        padding:0px!important;
    }

</style>

<form spellcheck="false" id="clientForm">

    <div>Podaci o izdavaocu:</div>
    <fieldset style="border: 1px solid #ddd; padding:0px; margin-bottom: 10px; display:flex; flex-wrap:wrap;">
        <div class="one" style="flex: 0 1 calc(33% - 20px)">
            <label for="gender">Vrsta izdavaoca</label>
            @(Html.Kendo().DropDownList().Name("Type")
                .OptionLabel("Izaberite vrstu")
                .BindTo(legalEntityTypes)
                .Value("Person")
                .HtmlAttributes(new { style = "width:100%" })
                )
        </div>
        <div class="one" style="flex:0 1 calc(33% - 20px)">
            <label for="name">Naziv izdavaoca</label>
            @(Html.Kendo().TextBox().Name("Name").HtmlAttributes(new { style = "width:100%" }))
        </div>
@*          <div class="one" style="flex:0 1 calc(33% - 20px)">
            <label for="firstname">Broj telefona</label>
            @(Html.Kendo().TextBox().Name("PhoneNumber").HtmlAttributes(new { style = "width:100%" }))
        </div>
        <div class="one" style="flex:0 1 calc(33% - 20px)">
            <label for="lastname">Broj dokumenta</label>
            @(Html.Kendo().TextBox().Name("DocumentNumber").HtmlAttributes(new { style = "width:100%" }))
        </div>  *@
        <div class="one" style="flex:0 1 calc(33% - 20px)">
            <label for="lastname">Poreski broj</label>
            @(Html.Kendo().TextBox().Name("TIN").HtmlAttributes(new { style = "width:100%" }))
        </div>
        <div class="one" style="flex: 0 1 calc(33% - 20px)">
            <label for="gender">Adresa izdavaoca</label>
            @(Html.Kendo().TextArea().Name("Address").HtmlAttributes(new { style = "width:100%; height:100px;" }))
        </div>
        <div class="one" style="flex: 0 1 calc(33% - 20px); justify-content:space-between; justify-items:space-between;">
            <div style="margin-bottom:23px;">
                <label for="firstname">Broj telefona</label>
                @(Html.Kendo().TextBox().Name("PhoneNumber").HtmlAttributes(new { style = "width:100%" }))
            </div>
            <div>
                <label for="lastname">Broj dokumenta</label>
                @(Html.Kendo().TextBox().Name("DocumentNumber").HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
        <div class="one" style="display:flex; flex-wrap: wrap;  align-items: center; align-content: space-between; flex: 0 1 calc(33% - 20px)">
            <hr style="flex-basis: 100%; height: 0; margin-top: 10px; border: 0;" />
            <div>
                @(Html.Kendo().Switch().Name("IsInVat").HtmlAttributes(new { style = "width:60px;" }).Messages(a => a.Checked("DA").Unchecked("NE")))
                <label style="display:inline-block;" for="personalnumber">Poreski obveznik</label>
            </div>
            <hr style="flex-basis: 100%; height: 0; margin: 0; border: 0;" />
            <div style="flex-grow:1">
                @(Html.Kendo().Switch().Name("IsAdministered").Checked((bool)ViewBag.IsAdministered).HtmlAttributes(new { style = "width:60px;" }).Messages(a => a.Checked("DA").Unchecked("NE")))
                <label style="display:inline-block;" for="personalnumber">Da li se administrira?</label>
            </div>
            <hr style="flex-basis: 100%; height: 0; margin: 0; border: 0;" />
            <div style="flex-grow:1">
                @(Html.Kendo().Switch().Name("IsPassThrough").Checked((bool)ViewBag.IsPassThrough).HtmlAttributes(new { style = "width:60px;" }).Messages(a => a.Checked("DA").Unchecked("NE")).Events(e => e.Change("passThroughChanged")))
                <label style="display:inline-block;" for="personalnumber">Da li je podređen?</label>
            </div>
        </div>
    </fieldset>

    <div style="margin-top:25px;">Podaci o smještajnom objektu:</div>
    <fieldset style="border: 1px solid #ddd; padding:0px; margin-bottom: 10px; display:flex; flex-wrap:wrap;">
        <div class="one" style="flex:0 1 calc(33% - 20px)">
            <label for="firstname">Naziv objekta</label>
            @(Html.Kendo().TextBox().Name("PropertyName").HtmlAttributes(new { style = "width:100%" }))
        </div>
        <div class="one" style="flex:0 1 calc(33% - 20px)">
            <label for="lastname">Šifra objekta (ako nije podređen)</label>
            @(Html.Kendo().TextBox().Name("PropertyExternalId").HtmlAttributes(new { style = "width:100%" }))
        </div>
        <div class="one" style="flex: 0 1 calc(33% - 20px)">
            <label for="gender">Vrsta objekta</label>
            @(Html.Kendo().DropDownList().Name("PropertyType")
                .OptionLabel("Izaberite vrstu")
                .BindTo(propertyTypes)
                .HtmlAttributes(new { style = "width:100%" })
                )
        </div>
        <div class="one" style="flex: 0 1 calc(33% - 20px)">
            <label for="gender">Adresa objekta</label>
            @(Html.Kendo().TextArea().Name("PropertyAddress").HtmlAttributes(new { style = "width:100%; height:100px;" }))
        </div>
        <div class="one" style="display:flex; flex-wrap: wrap;  align-items: center; align-content: space-between; flex: 0 1 calc(33% - 20px)">
            <label for="opstina">Opština objekta</label>
            @(Html.Kendo().DropDownList()
              .Name("propertyMunicipality")
              .HtmlAttributes(new { style = "width:100%" })
              .OptionLabel("Izaberite opštinu...")
              .BindTo(ViewBag.Opstine as List<CodeList>)
              .DataTextField("Name")
              .DataValueField("ExternalId")
              .Value(ViewBag.Opstina)
@*               .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("Opstine", "Property");
                  });
              }) *@
            )

            <label for="mjesto">Mjesto objekta</label>
            @(Html.Kendo().DropDownList()
              .Name("propertyPlace")
              .Filter("contains")
              .HtmlAttributes(new { style = "width:100%" })
              .OptionLabel("Izaberite mjesto...")
              .DataTextField("Name")
              .DataValueField("ExternalId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("Mjesta", "Property").Data("filterMjesta");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("propertyMunicipality")
            )
        </div>
        <div class="one" style="display:flex; flex-wrap: wrap;  align-items: center; align-content: center; justify-items:center; justify-content:center; flex: 0 1 calc(33% - 20px)">
            @(Html.Kendo().Button().Name("btnregisterNewClient")
                .Content("<div style='display:flex;align-items:center; justify-content:space-between;'><img style='width:35px;height:35px;text-align:center; position:relative; top:0px;' src='/Content/Icons/registration.png'></img><div style='padding-left:10px; padding-right:10px; font-size:smaller; font-weight:bold;'>Kreiraj novog izdavaoca</div></div>")
                .HtmlAttributes(new { onclick = "registerClient()", type = "button", style = "width:220px; height:50px;" })
                )
        </div>
    </fieldset>

</form>

