@using Oblak.Models.Api;
@using Oblak.Models.EFI;

@{
    ViewBag.Title = "Agencije";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

<script type="text/javascript">
    
    var le = -1;

    $(document).ready(function () {
        
    });

    function newagency() {

        var grid = $("#AgenciesGrid").data("kendoGrid");
        grid.addRow();
    }

    function payments(taxType) {
        var grid = $('#AgenciesGrid').data('kendoGrid');
        var item = grid.dataItem(grid.select());

        if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati agenciju', confirmButtonText: `U redu` });

        ag = item.Id;

        $.ajax({
            url: `legal-entity-payments?taxType=${taxType}&ag=${ag}`,
            type: 'GET',
            success: function (data) {
                console.log(data);
                var wnd = $("#wndPayments").data("kendoWindow");
                wnd.title(`Unos uplata - ${item.Name}`);
                wnd.content(data);
                wnd.setOptions({
                    width: $(window).width() * 0.80,
                    height: $(window).height() * 0.80
                });
                wnd.center().open();
            },
            error: function (error) {
                console.error(error);
                Swal.fire({ icon: 'error', title: 'Došlo je do greške', confirmButtonText: `U redu` });
            },
            complete: function () {
            }
        });
    }

    function excursions() {
        var grid = $('#AgenciesGrid').data('kendoGrid');
        var item = grid.dataItem(grid.select());

        if (item == null) Swal.fire({ icon: 'error', title: 'Morate odabrati agenciju', confirmButtonText: `U redu` });

        ag = item.Id;

        $.ajax({
            url: `agency-excursions?&agency=${ag}`,
            type: 'GET',
            success: function (data) {
                console.log(data);
                var wnd = $("#wndPayments").data("kendoWindow");
                wnd.title(`Unos izleta - ${item.Name}`);
                wnd.content(data);
                wnd.setOptions({
                    width: $(window).width() * 0.80,
                    height: $(window).height() * 0.80
                });
                wnd.center().open();
            },
            error: function (error) {
                console.error(error);
                Swal.fire({ icon: 'error', title: 'Došlo je do greške', confirmButtonText: `U redu` });
            },
            complete: function () {
            }
        });
    }

    function onCountryChange(e) {
        var grid = $("#AgenciesGrid").data("kendoGrid");
        var val = $("#CountryId").val();
        var dataItem = grid.dataItem(grid.select());
        dataItem.CountryId = val;
        dataItem.dirty = true;
        grid.trigger("change");
    }

</script>

<style type="text/css">
</style>

<div style="display:flex; margin-left:15px; margin-top:25px; margin-right:15px;">

    @(Html.Kendo().Button().Name("btnNewClient")
        .HtmlAttributes(new { type = "button", onclick = "newagency()", style = "height:95px; width:95px; margin-right:10px; cursor:pointer;" })
        .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                    <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/briefcase.png'/>
                    <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>NOVA<br/>AGENCIJA<div>
                </div>"))

    

    <div style="display: flex; margin-left:auto;">
        @(Html.Kendo().Button().Name("btnExcursions")
            .HtmlAttributes(new { type = "button", onclick = "excursions()", style = "height:95px; width:95px; margin-left:10px; cursor:pointer;" })
            .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                <img style='width:47px;height:47px;text-align:center;display:block;margin-left:auto;margin-right:auto;margin-top:3px;' src='/Content/Icons/bus.png'/>
                <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>UNOS<br/>IZLETA<div>
                </div>"))

        @if(false)
        {
            @(Html.Kendo().Button().Name("btnPayments")
                .HtmlAttributes(new { type = "button", onclick = "payments('ExcursionTax')", style = "height:95px; width:95px; margin-left:10px; cursor:pointer;" })
                .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                        <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/deposit.png'/>
                        <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>UNOS<br/>UPLATA<div>
                </div>"))

            @(Html.Kendo().Button().Name("btnSaldo")
                .HtmlAttributes(new { type = "button", onclick = "balance('ResidenceTax')", style = "height:95px; width:95px; margin-left:10px;; cursor:pointer;" })
                .Content(@"<div style='width:100%;height:100%;text-align:center; align-items:center;'>
                        <img style='width:50px;height:50px;text-align:center;display:block;margin-left:auto;margin-right:auto;' src='/Content/Icons/ledger.png'/>
                        <div style='font-weight:bold;display:block;position:relative;top:5px;line-height:110%;font-size:90%'>SALDO<br/>OBAVEZA<div>
                </div>"))
        }
    </div>
 
</div>

<div style="position:absolute; top:130px; bottom: 15px; left: 15px; right:15px;">
    @(Html.Kendo().Grid<AgencyDto>()
        .Name("AgenciesGrid")
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ").CancelText(" ").UpdateText(" ");
                command.Destroy().Text(" ");                
            }).Width(70);

            columns.Bound(g => g.Id).Title("Id").Width(80);
            columns.Bound(g => g.Name).Title("Naziv").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).Width(250);
            columns.Bound(g => g.CountryId).Title("Nacionalnost").ClientTemplate("#= CountryName ?? '' #").EditorTemplateName("Country").EditorViewData(new { Foo = "onCountryChange", ValueField = "Id", TextField = "CountryName" }).Width(250);
            columns.Bound(g => g.TIN).Title("Poreski broj").Width(150).Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" }).HtmlAttributes(new { style = "text-align:center;" });
            columns.Bound(g => g.TAX).Title("PDV broj").Width(150).Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" }).HtmlAttributes(new { style = "text-align:center;" });
            columns.Bound(g => g.HasContract).Title("Ugovor").Width("110px").Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" }).ClientTemplate("#= HasContract ? '<div style=\"text-align:center;\"><span class=\"k-checkbox k-checkbox-disabled\"><input type=\"checkbox\" checked disabled=\"disabled\" /><label class=\"k-checkbox-label\" style=\"pointer-events: none;\"></label></span></div>' : '<div style=\"text-align:center;\"><span class=\"k-checkbox k-checkbox-disabled\"><input type=\"checkbox\" disabled=\"disabled\" /><label class=\"k-checkbox-label\" style=\"pointer-events: none;\"></label></span></div>' #");
            columns.Bound(g => g.PhoneNo).Title("Broj telefona").Width(150).Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" });
            columns.Bound(g => g.Address).Title("Adresa").Width(350).Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:left;" });
            columns.Bound(g => g.Email).Title("E-mail").Width(150).Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" });
            columns.Bound(g => g.ContactPerson).Title("Kontakt osoba").Width(200).Filterable(f => Oblak.Helpers.Kendo.FilterConfig(f)).HtmlAttributes(new { style = "text-align:center;" });
        })
        .Pageable(p => p.Refresh(true))
        .Editable(e => e.Mode(GridEditMode.InLine))
        .Sortable()
        .Selectable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:100%;" })        
        .DataSource(ds => ds
            .Ajax()
            .PageSize(20)
            .Model(m =>
            {
                m.Id(g => g.Id);
                m.Field(g => g.Id).Editable(false);
                m.Field(g => g.PartnerId);
                m.Field(g => g.Name);
                m.Field(g => g.TIN);
                m.Field(g => g.TAX);
                m.Field(g => g.PhoneNo);
                m.Field(g => g.Address);
                m.Field(g => g.ContactPerson);
                m.Field(g => g.Email);
                m.Field(g => g.HasContract);
                m.Field(g => g.DueDays);
        })
        .Events(e => e.Sync("genericSync").RequestEnd("genericRequestEnd"))
        .Read(a => a.Url("agency-read"))
        .Create(a => a.Url("agency-create"))
        .Update(a => a.Url("agency-update"))
        .Destroy(a => a.Url("agency-destroy"))
        ))
</div>

@(Html.Kendo().Window().Name("wndPayments")
    .Title("Unos uplata")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(1400)
    .Height(600)
    .HtmlAttributes(new { style = "padding:20px; padding-bottom:10px; font-size:14px;" })
)

@(Html.Kendo().Window().Name("wndExcursions")
    .Title("Unos izleta")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(1400)
    .Height(600)
    .HtmlAttributes(new { style = "padding:20px; padding-bottom:10px; font-size:14px;" })
)

@(Html.Kendo().Window().Name("wndBalance")
    .Title("Saldo obaveza")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(400)
    .Height(200)
    .HtmlAttributes(new { style = "padding:20px; padding-bottom:10px; font-size:14px;" })
)